<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'navbar.html' %}
    <!-- Main Content -->
    <div class="about-content">
        <h1>About 15-Minute Cities</h1>
        <p>A 15 minute city is one where all neccessary amenities can be reached within 15 minutes of walking or cycling</p>
        <p>This tool allows you to visualize the 15-minute area around your location based on your selected travel method and speed.</p>
        <p>It helps you understand how far you can travel via walking or cycling to reach essential amenities like hospitals, schools, parks, and more.</p>
        
        <h2>How to use this tool</h2>
        <p>To use this tool, select your travel method, speed, and the amenity you want to find by using the menu on the left hand side of the screen. </p>
        <p>Then click on the map to set your location. If you do not select a location the default is Exeter City Centre.</p>
        <p>The map will then display the 15-minute area around your location, pinpointing amenities of the type selected.</p>

        <h3>Step 1: Using the menu</h3>
        <img src="static/images/Menu.png" alt="Menu Example" style="width: 100%; max-width: 600px;">
        
        <h3>Step 2: Selecting a location</h3>
        <img src="static/images/map click.png" alt="Click Map Example" style="width: 100%; max-width: 600px;">


        <h3>Step 3: Viewing the 15-minute area</h3>
        <img src="static/images/Website Picture.png" alt="15 Minute City Map Example" style="width: 100%; max-width: 600px;">
        <p>In the example above, the user has selected to view the 15-minute area around Exeter University.</p>

        <h2>Comparing two areas</h2>
        <p>You can also compare two areas by selecting the "Compare Areas" option from the menu.</p>
        <p>In the comparison mode, you can set two different locations and see how far you can travel to reach the selected amenities from both locations.</p>
        <p>This feature is useful for understanding the accessibility of amenities in different parts of the city.</p>

        <h2>About the Data</h2>
        <p>The data used in this tool is sourced from OpenStreetMap.</p>
        <p>It includes various amenities such as hospitals, schools, parks, and more.</p>


        
</body>
</html>